# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar entornos virtuales (si creas uno)
env/
venv/
.env

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración local de editores
.vscode/
.idea/